body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-one {
  margin-left: 2%;
}

nav {
  margin-right: 3%;
}

.navlink {
  padding: 0 15px;
  font-size: 1.5rem;
  border-right: 2px solid black;
}

li {
  list-style-type: none;
}
